{{outlet}}


<div class="user-menu">
  {{#link-to 'index'}}{{svg-jar "home"}}{{/link-to}}

  {{#if session.isAuthenticated}}

    {{#link-to 'authenticated.index'}}{{svg-jar "profile"}}{{/link-to}}

    {{#if currentUser.user.admin}}
      {{#link-to 'authenticated.admin'}}{{svg-jar "admin"}}{{/link-to}}
    {{/if}}

    <a {{action 'invalidateSession'}}>{{svg-jar "exit"}}</a>
  {{else}}
    {{#link-to 'login'}}{{svg-jar "fingerprint"}}{{/link-to}}
  {{/if}}
</div>


{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{#if flash.componentName}}
      {{component flash.componentName content=flash.content}}
    {{else}}
      <p>{{flash.message}}</p>
    {{/if}}
  {{/flash-message}}
{{/each}}