<div class="container center">
  <h1>Admin area</h1>

  <p>Hello {{currentUser.user.name}}, you are an admin.</p>

  <h3 class="mt40">Users</h3>

  {{#each users as |user|}}
    <div>
      {{user.name}} |
      {{user.email}} |
      {{if user.confirmed 'Confirmed' 'Not confirmed'}} |
      {{#if (not user.confirmed)}}
        <span {{action 'confirmUser' user}}>Confirm</span>
      {{else}}
        <span {{action 'deconfirmUser' user}}>Deconfirm</span>
      {{/if}}
    </div>
  {{/each}}

</div>




{{outlet}}